.ContactItem{
    width: 100%;
    &:not(:last-child){
        margin-bottom: 1rem;
    }
    .contact{
        display: flex;
        width: 110%;
        align-items: center;
        background-color:#191D2B ;
        padding: 3rem 0;
        .right-items{
            margin: 2rem;
        }
        img{
            padding: 1rem;
            border: 1px solid #2e344e;
            margin-left: 2rem;
            width: 16%;
        }
        .right-items{
            h6{
                font-size: 1.4rem;
                font-weight: 500;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.ContactPage{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    row-gap: 5rem;
    column-gap: 2rem;
    margin-bottom: 6rem;
    margin: 1rem;
    width: 100%;
    
}

.title{
    margin-bottom: 5rem;
}